<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Async name="Async" blocking="true">
            <AppenderRef ref="File"/>
        </Async>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </Console>

        <File name="File" fileName="convert.log" immediateFlush="true">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>
